<!DOCTYPE html>
<html>
  <head>
    <title>Bapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <p>BikeLife</p>
    <header class="header">
      <div class="dropdown">
        <div class="dropdown-content">
          <% if current_page?(main_path)%>
            <%= link_to 'ホーム', root_path, class: 'headerBtn' %>
            <%= link_to 'つぶやき', articles_path, class: 'headerBtn' %>
          <% elsif current_page?(root_path) %>
            <%= link_to 'MyBikeStory', main_path, class: 'headerBtn' %>
            <%= link_to 'つぶやき', articles_path, class: 'headerBtn' %>
          <% else current_page?(root_path) %>
            <%= link_to 'ホーム', root_path, class: 'headerBtn' %>
            <%= link_to 'MyBikeStory', main_path, class: 'headerBtn' %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' } %>
          <% else %>
            <%= link_to 'ログイン', new_user_session_path, class: 'headerBtn' %>
          <% end %>
        </div>
      </div>
    </header>
    <% if flash.present? %>
      <div class="flash">
        <% flash.each do |key, value| %>
          <div class="<%= key %>"><%= value %></div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
