<!DOCTYPE html>
<html>
  <head>
    <title>Bapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <p>投稿サイト</p>
    <header class="header">
      <div class="dropdown">
        <div class="dropdown-content">
          <a href="#">プロフィール</a>
          <% if user_signed_in? %>
            <%= link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' } %>
          <% else %>
            <%= link_to 'ログイン', new_user_session_path, class: 'header_loginBtn' %>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
